<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>

        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div>

            <div id="content2" class="clearfix">

                <div id="aside">
                    <h2>갤러리</h2>
                    <ul>
                        <li>일반갤러리</li>
                        <li>파일첨부연습</li>
                    </ul>
                </div>

                <div id="main">

                    <div id="main-head" class="clearfix">
                        <h3>일반갤러리</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>갤러리</li>
                            <li>일반갤러리</li>
                        </ol>
                    </div>
                    <div id="main-gallery">
                        <div id="upload">
                            <button class=btn-1 type="submit">이미지올리기</button>
                        </div>

                        <div id="photos" class="clearfix">
                            <ul>
                                <li>
                                    <img src="../../../../mysite-사이트캡쳐/assets/image/Gangho-dong.jpg">
                                    작성자: 유재석
                                </li>
                                <li>
                                    <img src="../../../../mysite-사이트캡쳐/assets/image/Jeongjae-Lee.jpg">
                                    작성자: 유재석
                                </li>
                                <li>
                                    <img src="../../../../mysite-사이트캡쳐/assets/image/JeonSoMin.jpg">
                                    작성자: 유재석
                                </li>
                                <li>
                                    <img src="../../../../mysite-사이트캡쳐/assets/image/JiseokJin.jpg">
                                    작성자: 유재석
                                </li>
                                <li>
                                    <img src="../../../../mysite-사이트캡쳐/assets/image/JungWooSung.jpg">
                                    작성자: 유재석
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ 2025 한기정. All right reserved
                </p>
            </div>

        </div>
    </body>
</html>