<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>

        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/list2.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>

            </div>

            <div id="content2" class="clearfix">

                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                
                </div>

                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>

                    <table id="table-title">

                        <colgroup>
                            <col style="width:100px">
                            <col style="width:700px">

                        </colgroup>

                        <tr>
                            <td>작성자</td>
                            <td class="tb-bold">정우성</td>
                        </tr>

                        <tr>
                            <td>조회수</td>
                            <td class="tb-bold">123</td>
                        </tr>

                        <tr>
                            <td>작성일</td>
                            <td class="tb-bold">2020-03-02</td>
                        </tr>

                        <tr>
                            <td>제목</td>
                            <td class="tb-bold">여기에는 글제목이 출력됩니다.</td>
                        </tr>

                    </table>

                    <div id="board-text">
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.<br>
                        여기에는 본문내용이 출력됩니다.
                    </div>

                    <div class="btn-last">
                        <button>목록</button>
                        <button>수정</button>
                    </div>

                </div>

            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ 2025 한기정. All right reserved
                </p>
            </div>
        </div>

    </body>
</html>