<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>

        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>

            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>

                </div>
                
                
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>게시판</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>
                    
                    <div id="main-board">
                        <div id="board-search">
                            <input type="text">
                            <button type="submit">검색</button>
                        </div>
                    </div>

                    <div id="board-list">
                        <table>

                            <colgroup>
                                <col style="width:50px">
                                <col style="width:400px">
                                <col style="width:100px">
                                <col style="width:100px">
                                <col style="width:150px">
                                <col style="width:100px">
                            </colgroup>

                            <tr>
                                <td>번호</td>
                                <td class="mid">제목</td>
                                <td>글쓴이</td>
                                <td>조회수</td>
                                <td>작성일</td>
                                <td>관리</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>
                        </table>
                    </div>

                    <div id="page-number">
                        ◀  1  2  3  4  5  6  7  8  9  10  ▶
                    </div>

                    <div id="write-button">
                        <button type="submit">글쓰기</button>
                    </div>
                </div>
                
            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ 2025 한기정. All right reserved
                </p>
            </div>
        </div>
    </body>
</html>