@charset "UTF-8";

.container{
    width: auto;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #000;
}

.container.row{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.container.column{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
}

.item1{
    border: 3px solid #ff0000;
    flex-basis:300px;
    /* flex-grow:1; */
    flex-shrink:1;
}

.item2{
    border: 3px solid #0000ff;
    flex-basis:300px;
    /* flex-grow:1; */
    flex-shrink: 1;
}

.item3{
    border: 3px solid #00ff00;
    flex-basis:300px;
    /* flex-grow:1; */
    flex-shrink:10;
}
