@charset "UTF-8";

/* 초기화 */
body, div, 
ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, 
form, input, fieldset, legend, select, textarea, button,
p, table, th, td, tr{
    margin:0px;
    padding:0px;
}

body{
    background-color:#808080;
    font-family:"맑은고딕";
    font-size:12px;
}

div{border-bottom:1px solid #000;}

h3{
    font-size:18px;
    font-weight:bold;
}

.wrap{
    width:600px;
    background-color: #fff;

}

.form-title{
    width:120px;
    text-align:center;
    font-size:12px;
    display:inline-block;
    vertical-align: top;
}


.form-height{
    padding-top:10px;
    padding-bottom:10px;
    vertical-align:top;
}

.block{
    display:inline-block;
}


input, select, textarea{
    font-family:"맑은고딕";
    font-size:15px;
}

textarea{
    width:400px;
    height:70px;
}

.rd-chk label{
    font-family: "맑은고딕";
    font-size:15px;
}

button{
    width:120px;
    padding:10px 10px;
}

.btn-group{
    text-align:center;
    padding:10px;
}

input[type="radio"]{margin-right:10px;}
input[type="checkbox"]{margin-right:10px;}

.m-30{margin-left:125px;}

ol>li{
    float:left;
    list-style-type: none;
}

ol>li::after{content:">"}
ol>li:last-child::after{content:""}

.clearfix::before, .clearfix::after {display: block; content: ""; line-height: 0;}
.clearfix::after {clear: both;}
