<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/visiterwriting.css">

    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>

            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>방명록</h2>
                    <ul>
                        <li>일반방명록</li>
                        <li>ajax방명록</li>
                    </ul>
                </div>

                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반방명록</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>방명록</li>
                            <li>일반방명록</li>
                        </ol>
                    </div>

                    <div id="writing">
                        <table id="table-1">

                            <colgroup>
                                <col style="width:60px">
                                <col style="width:200px">
                                <col style="width:60px">
                                <col style="width:200px">
                                
                            </colgroup>

                            <tr>
                                <td>이름</td>
                                <td><input type="text"></td>
                                <td>패스워드</td>
                                <td><input type="password"></tr>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <textarea></textarea>
                                </td>
                                <!-- <td></td>
                                <td></td>
                                <td></tr> -->
                            </tr>
                            <tr>
                                <td class="btn" colspan="4">
                                    <button>등록</button>
                                </td>
                                <!-- <td></td>
                                <td></td>
                                <td></tr> -->
                            </tr>
                        </table>

                        <table id="table-ex">
                            <tr>
                                <td>1234555</td>
                                <td>이정재</td>
                                <td>2020-03-03 12:12:12</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td colspan="4">방명록 글입니다. 방명록 글입니다.</td>
                                <!-- <td></td>
                                <td></td>
                                <td></td> -->
                            </tr>
                        </table>

                        <table id="table-ex">
                            <tr>
                                <td>1234555</td>
                                <td>이정재</td>
                                <td>2020-03-03 12:12:12</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td colspan="4">방명록 글입니다. 방명록 글입니다.</td>
                                <!-- <td></td>
                                <td></td>
                                <td></td> -->
                            </tr>
                        </table>

                    </div>
                </div>



            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ 2025 한기정. All right reserved
                </p>
            </div>

        </div>

    </body>



</html>

